* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 2.5vh;
}
body {
    
}
.container {
    display: grid;
    grid-template-columns: 1.5fr repeat(3, 2fr);
    grid-template-rows: 1fr 2fr;
    height: 100vh;
}

.sidebar {
    background-color: aquamarine;
    grid-column: 1 / 2;
    grid-row: 1 / 5;
}

.main {
    display: grid;
    grid-column: 2 / 5;
    grid-template-columns: repeat(4, 1fr);
    background-color: green;
    height: 80vh;
}
.header {
    display: grid;
    background-color: rgb(59, 59, 100);
    grid-column: 2 / 5;
    height: 20vh;
}
.headerTop {
    display: flex;
    justify-content: space-between;
    padding-top: 2vh;
    padding-bottom: 3vh;
}

.hTopLeft {
    display: flex;
}
.searchbar {
    width: 30vw;
    height: 3vh;
}
.hTopRight {
    display: flex;
    padding-right: 10vh;
    gap: 2vh;
}
.btnGroup {
    display: flex;
    justify-content: space-between;
}

.greetingGroup {
    display: flex;
}
.leftGreet {
    padding-right: 2vh;
}

.navBtns {
    display: flex;
    gap: 5vw;
    padding-right: 5vw;
}

.middle {
    display: grid;
    grid-column: 1 / 4;
}

.right {
    display: grid;
    grid-column: 4 / 5;

}

.projTitle {
    padding: 2vh 0;
    grid-column: 1/4;
    background-color: blueviolet;
    height: 5vh;
}

.projects {
    display: grid;
    background-color: aqua;
    height: 75vh;
    grid-template-columns: repeat(2, 1fr);
}

.announceTitle {
    padding: 2vh 0;
    background-color: brown;
    height: 5vh;

}

.announcements {    
    background-color: lightcoral;
}

.trendingTitle {
    padding: 2vh;
    background-color: cadetblue;

}

.trenders {
    background-color: chocolate;
}


.card {
    background-color: azure;
    border-radius: 15px;
    padding: 10px;
    margin: 2%;

}

li {
    list-style-type: none;
}